extends layout

block content
  
  .d-flex.flex-row.align-items-center.justify-content-center
    div
      .fs-4.pt-5.pb-2 Click a character to learn more
  .d-flex.flex-wrap.flex-container.justify-content-center
    div.p-4
      a(href="/edgar")
        img.character-image.shadow(src="/images/edgar.jpg" alt="edgar")
    div.p-4
      a(href="/kefka")
        img.character-image.shadow(src="/images/kefka.jpg" alt="kefka")
    div.p-4
      a(href="/terra")
        img.character-image.shadow(src="/images/terra.jpg" alt="terra")
    div.p-4
      a(href="/edgar")
        img.character-image.shadow(src="/images/edgar.jpg" alt="edgar")
    div.p-4
      a(href="/kefka")
        img.character-image.shadow(src="/images/kefka.jpg" alt="kefka")
    div.p-4
      a(href="/terra")
        img.character-image.shadow(src="/images/terra.jpg" alt="terra")
    div.p-4
      a(href="/edgar")
        img.character-image.shadow(src="/images/edgar.jpg" alt="edgar")
    div.p-4
      a(href="/kefka")
        img.character-image.shadow(src="/images/kefka.jpg" alt="kefka")
    div.p-4
      a(href="/terra")
        img.character-image.shadow(src="/images/terra.jpg" alt="terra")