doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' type='text/css' href='/bootstrap/dist/css/bootstrap.css')
    link(rel='icon' type='image/png' sizes='16x16' href='/images/terra-favicon.jpg')
  body
    block content